body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: 5%;
    writing-mode: horizontal-tb; 
    padding: 10px ;
   }

nav{
    display: flex; 
    margin-bottom: 0.5em ;
  }
a{ 
  flex:1; 
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;

}
   